
   
  body{
    background-color: plum;
    background-image: url('../image/back.jpg');
    background-repeat :no-repeat;
    background-size: cover;
    height: 900px;
    background-position: right bottom;
    background-attachment: scroll;

    font-family: 'Anek Latin', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Playball', cursive;
font-family: 'Roboto', sans-serif;
  }
.container
{
  width: 1000px;
    margin: 0 auto;
    background-color:white;
    padding: 10px 40px;
    box-shadow:  inset 0px 0px 5px red;
}
  h1{
    font-size: 30px;
    padding: 5px 0;
   
    text-shadow:  inset 5px 5px 10px  greenyellow;

  }
  .header-para
  {
    padding: 10px 0 40px;
    line-height: 1.5;
  }
  h2{
    background-color: gray;
    padding:  5px  10px;
    font-size: 30px
 
     
  }
  p{
    margin-bottom: 10px;
  }
  .section
  {
    margin-bottom: 20px;
  }
.table-style-1 {
 width: 100%;
}
.table-style-1 tr {

}
.table-style-1 tr td,
.table-style-1 tr th
{
  border: solid 1px #ccc;
  padding: 10px 20px;

}
.table-style-1 tr th
{
  background-color: palevioletred;
}
.list-style-1{

}
.list-style-1 li{
  list-style: none;
  padding-left: 30px;
  
}
.list-style-1 li:before {
  content: "";
  display: inline-block;
  background-color: red;
  width: 8px;
  height: 8px
  border-radius:50%;
  left: -23px;
  position: relative;

  
}